{% extends 'base.html' %}
{% load static %}

{% block title %}{{ title }}{% endblock title %}
{% block extraCSS %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
{% endblock %}

{% block content %}
    <nav class="nav-bar">
        <div class="container-nav">
            {% if not home %}
                <button class="button-nav">Home</button>
            {% endif %}
            {% for text_btn in text_buttons %}
                <button class="button-nav">{{ text_btn }}</button>
            {% endfor %}
        </div>
    </nav>
    <div>

    </div>
{% endblock content %}