.background-red {
    background-color: red;

}

.ok-color {
    background-color: #44BB44;

}

.edit-color {


}

.container-list {
    display: flex;

    flex-direction: column;

    justify-content: center;
    align-items: center;

    text-align: center;

    width: 100%;
    height: 100%;

}
